<h1>Hearthstone Public Match Enrolment</h1>

<h1>Match Information</h1>
<table>
<tr>
  <th>Match Name</th>
  <th>Time</th>
  <th>Rules</th>
</tr>

<tr>
  <td><%= @match.name %></td>
  <td><%= @match.time %></td>
  <td><%= @match.rules %></td>
</tr>
</table>

<div>
  <%= form_for @enrolment, url: create_enrolment_path(:account), method: :post do |f| %>
  <% if @enrolment.errors.any? %>
    <div id="error_explanation">
      <% @enrolment.errors.full_messages.each do |msg| %>
        <div data-alert class="alert-box warning round">
          <%= content_tag :div, msg %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= f.hidden_field :match_id, :value => @match.id %>
  <%= f.label :account, "Account#BattleTag" %>
  <%= f.text_field :account %>
  <%= f.button "Submit" %>
  <% end %>
</div>
